<header>    
    <nav class="header-line">
        <ul class="header-list">
            <li class="header-element">
                <ul class="mini-header-list">
                    <li class="header-element">
                        <app-btn-header imgSrc="assets/icons/card.svg" rLink="/shop" btnText="SHOP"></app-btn-header>
                    </li>
                    <li class="header-element">
                        <app-btn-header rLink="/info" btnText="INFO"></app-btn-header>
                    </li>
                </ul>
            </li>
            <li class="header-element main-title">
                <a href="" class="no-dec-link"><h1 class="main-title-text">FNDRS</h1></a>
            </li>
            <li class="header-element">
                <ul class="mini-header-list">
                    <li class="header-element">
                        <app-btn-header imgSrc="assets/icons/user.svg" rLink="/account" btnText=""></app-btn-header>
                    </li>
                    <li class="header-element">
                        <app-btn-header imgSrc="assets/icons/bag.svg" rLink="/cart" btnText="Cart"></app-btn-header>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <!--ТЕСТ БИЛД DIV УБРАТЬ-->
    <div class="second-header-categories">
        <ul class="header-categories-list">
            @for (categoryProduct of categoriesProducts; track categoryProduct.id) {
                <li class="head-el-category">
                    <a class="no-dec-link head-category-link change-all-hover" [href]="categoryProduct.slug_category | categoryUrl">{{  categoryProduct.name_category  }}</a>
                </li>
            }
        </ul>
    </div>
</header>