<header>    
    <nav class="header-line">
        <!--<ul class="header-list">
            <li class="header-element">
                <div class="div-nav-btn">
                    <a class="link-nav-btn" href="/shop">
                        <img class="icon-nav-btn" src="assets/icons/shop-icon.svg" alt="icon_shop">
                        <span class="text-nav-btn">SHOP</span>
                    </a>
                </div>
            </li>
            <li class="header-element">MORE</li>
            <li class="header-element main-title">FNDRS</li>
            <li class="header-element">account</li>
            <li class="header-element">Cart</li>
        </ul>
        <ul class="header-list">
            <li class="header-element">
                <app-btn-header imgSrc="assets/icons/shop-icon.svg" rLink="/shop" btnText="SHOP"></app-btn-header>
            </li>
            <li class="header-element">
                <app-btn-header imgSrc="assets/icons/shop-icon.svg" rLink="/" btnText="MORE"></app-btn-header>
            </li>
            <li class="header-element main-title">
                <p>FNDRS</p>
            </li>
            <li class="header-element">
                <app-btn-header imgSrc="assets/icons/shop-icon.svg" rLink="/" btnText="account"></app-btn-header>
            </li>
            <li class="header-element">
                <app-btn-header imgSrc="assets/icons/shop-icon.svg" rLink="/catr" btnText="Cart"></app-btn-header>
            </li>
        </ul>-->
        <ul class="header-list">
            <li class="header-element">
                <ul class="mini-header-list">
                    <li class="header-element">
                        <app-btn-header imgSrc="assets/icons/card.svg" rLink="/shop" btnText="SHOP"></app-btn-header>
                    </li>
                    <li class="header-element">
                        <app-btn-header rLink="/info" btnText="INFO"></app-btn-header>
                    </li>
                </ul>
            </li>
            <li class="header-element main-title">
                <a href="" class="no-dec-link"><h1 class="main-title-text">FNDRS</h1></a>
            </li>
            <li class="header-element">
                <ul class="mini-header-list">
                    <li class="header-element">
                        <app-btn-header imgSrc="assets/icons/user.svg" rLink="/account" btnText=""></app-btn-header>
                    </li>
                    <li class="header-element">
                        <app-btn-header imgSrc="assets/icons/bag.svg" rLink="/cart" btnText="Cart"></app-btn-header>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>