.header-line {
    border-bottom: 1px solid #EEEEEE;
}

.header-main {
    height: 96px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid var(--line-gray);
}

.shop-name {
    display: flex;
    align-items: center;
    gap: 18px;
}

.sidebar-btn, .toggle-bar-btn {
    display: none;
    background: none;
    border: none;
}

.toggle-bar {
    width: 18px;
    height: 13px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.toggle-bar-line {
    display: block;
    position: absolute;
    height: 1.5px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.toggle-bar-top-line {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.toggle-bar-mid-line {
    top: 6px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.toggle-bar-bottom-line {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.open {
    /*  */
}

.toggle-bar.open .toggle-bar-top-line {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    /* top: -1px; */
    width: 18px;
    left: 2px;
}

.toggle-bar.open .toggle-bar-mid-line {
    width: 0%;
    opacity: 0;
}

.toggle-bar.open .toggle-bar-bottom-line {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 13px;
    left: 2px;
    width: 18px;
}

.link-nav-main {
    color: black;
    text-decoration: none;
    font-size: 42px;
    font-style: normal;
}


.ife-name-text {
    font-family: 'Helvetica Neue Cyr', sans-serif;
    font-style: normal;
    font-weight: 200;

}

.shop-name-text {
    font-family: 'Onest', sans-serif;
    font-style: normal;
    font-weight: 900;
}

.shop-nav-bar {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.link-nav {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

.search-shop-div {
    background-color: #f0f0f0;
    border-radius: 25px;
    height: 24px;
    padding: 12px 16px;
    width: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-header-svg {
    color: gray;
}

.search-header-input {
    padding-left: 12px;
    box-sizing: border-box;
    display: block;
    background-color: #f0f0f0;
    border: none;
    width: 100%;
    font-size: 18px;
}

.search-header-input:focus-visible {
    outline: none;
    color: black;
}

.header-account-links {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.icon-link-header {
    color: black;
}

.cart-count {
    position: absolute;
    top: -9px;
    right: 28px;
    background-color: black;
    border-radius: 25px;
    color: white;
    font-size: 10px;
    font-family: 'Futura', sans-serif;
    padding: 2px 6px;
}

@media (max-width: 1100px) {
    .toggle-bar-btn {
        display: block;
    }
    .header-main {
        padding-left: 10px;
        padding-right: 10px;
        gap: 10px;
    }

    .shop-nav-bar {
        display: none;
    }
}

@media (max-width: 640px) {
    .header-main {
        height: 64px;
    }

    .shop-name {
        gap: 8px;
    }

    .link-nav-main {
        font-size: 32px;
    }
}


// ниже ТЕСТ БИЛД, не обращаем внимания
.mini-header-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    width: 250px;
}

.second-header-categories {
    border-bottom: #EEEEEE solid 1px;

}
.header-categories-list {
list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.head-category-link {
    display: block;
    border: #ccc solid 1px;
    background-color: #EEEEEE;
    border-radius: 5px;
    padding: 20px;
}

.head-category-link:hover {
    background-color: black;
    border-radius: 5px;
    color: white;
    border-color: white;
}