@if (product) {
  <div class="product-card no-us-copy">
    <a class="no-dec-link" [routerLink]="product.id_product | productUrl">
      <div class="image-product">
        <img class="image-product"
              (mouseenter)="onMouseEnter()"
              (mouseleave)="onMouseLeave()"
              [src]="product.images_list_product[0] | imgUrl"
              [alt]="product.id_product">
      </div>
      <span class="name-product txt-wrap pd-20">{{  product.name_product  }}</span>
      <span class="price-product txt-wrap pd-20">{{  product.price_product  }} ₽</span>
    <button class="btn-add-cart pd-20">
      <span class="txt-btn-add-cart">Add to cart</span>
    </button>
    </a>
  </div>
} <!-- @else {
  <pre>product card error</pre>
} -->