<div class="main-container">
    <div class="main-text-block">
        <h1 class="h1 h1-main">Подбери одежду под свой стиль</h1>
        <div class="main-text default-text"><!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, maiores iusto minima debitis voluptatem ipsam, et atque ratione officia tempora eaque dolorum aut veniam, pariatur quisquam nesciunt aliquam veritatis perspiciatis! -->В своём стремлении улучшить пользовательский опыт мы упускаем, что многие известные личности призывают нас к новым свершениям, которые, в свою очередь, должны быть объявлены нарушающими общечеловеческие нормы этики и морали.</div>
        <a routerLink="/shop" class="big-black-btn">Shop now</a>
        <div class="statistics-info">
            <div class="block-statistic bs-1-border">
                <div class="number-statistic">200+</div>
                <div class="text-statistic">Международных брендов</div>
            </div>
            <div class="block-statistic bs-2-border">
                <div class="number-statistic">2000+</div>
                <div class="text-statistic">Высококачественных товаров</div>
            </div>
            <div class="block-statistic bs-3-border">
                <div class="number-statistic">20000+</div>
                <div class="text-statistic">Довольных покупателей</div>
            </div>
        </div>
    </div>
    <div class="main-image-block">
        <img class="main-image" width="660" height="660" priority ngSrc="/assets/images/main-image-page-1320w.png" alt="девушка и парень в джинсовках">
        <svg class="star-on-image-1" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M28 0C28.9506 15.0527 40.9472 27.0495 56 28C40.9472 28.9506 28.9506 40.9472 28 56C27.0495 40.9472 15.0527 28.9506 0 28C15.0527 27.0495 27.0495 15.0527 28 0Z" fill="black"/>
        </svg>
        <svg class="star-on-image-2" viewBox="0 0 104 104" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52 0C53.7654 27.955 76.0448 50.2347 104 52C76.0448 53.7654 53.7654 76.0448 52 104C50.2347 76.0448 27.955 53.7654 0 52C27.955 50.2347 50.2347 27.955 52 0Z" fill="black"/>
        </svg>
    </div>
</div>
<div class="brand-background-line">
    <div class="brands-line">
        <div class="brand-logo">
            <img class="svg-brand-logo versage-logo" src="/assets/images/brands/logo-versage.svg">           
        </div>
        <div class="brand-logo">
            <img class="svg-brand-logo gucci-logo" src="/assets/images/brands/logo-gucci.svg">
        </div>
        <div class="brand-logo">
            <img class="svg-brand-logo zara-logo" src="/assets/images/brands/logo-zara.svg">
        </div>
        <div class="brand-logo">
            <img class="svg-brand-logo prada-logo" src="/assets/images/brands/logo-prada.svg">
        </div>
        <div class="brand-logo">
            <img class="svg-brand-logo ck-logo" src="/assets/images/brands/logo-ck.svg">
        </div>
    </div>
</div>
<h2 class="h2">Новая коллекция</h2>
<div class="collection-block"></div>
    <!-- 
        <br>
<a href="https://fndrs.store/" target="_blank">FNDRS STORE</a>
<ul class="main-image-list">
    <li class="main-image-element">
        <a class="link-main-image" href="/shop">
            <img class="image-in-main-link" src="/assets/images/market-man.jpg" alt="Image description">
            <span class="text-in-image">MARKET</span>
        </a>
    </li>
    <li class="main-image-element">
        <a class="link-main-image" href="/artworks">
            <img class="image-in-main-link" src="/assets/images/artworks-woman.png" alt="Image description">
            <span class="text-in-image">ARTWORKS</span>
        </a>
    </li>
</ul> -->