<br>
<a href="https://fndrs.store/" target="_blank">FNDRS STORE</a>
<ul class="main-image-list">
    <li class="main-image-element">
        <a class="link-main-image" href="/shop">
            <img class="image-in-main-link" src="/assets/images/market-man.jpg" alt="Image description">
            <span class="text-in-image">MARKET</span>
        </a>
    </li>
    <li class="main-image-element">
        <a class="link-main-image" href="/artworks">
            <img class="image-in-main-link" src="/assets/images/artworks-woman.png" alt="Image description">
            <span class="text-in-image">ARTWORKS</span>
        </a>
    </li>
</ul>