<footer class="footer">
    <div class="footer-container">
        <app-sub-to-news-form class="footer-form"></app-sub-to-news-form>
        <!-- УДАЛИТЬ КОМПОНЕНТ ФОРМЫ ПОЧТЫ СТАРЫЙ-->
        <div class="companies-info">
            <div class="ife-shop-info default-text">ife.co © 2024-2025, Все права защищены</div>
            <div class="payment-companies">
                <div class="payment-logo logo-card">
                    <img src="/assets/icons/t-pay-logo.svg" alt="">
                </div>
                <div class="payment-logo">
                    <img src="/assets/icons/y-pay-logo.svg" alt="">
                </div>
                <div class="payment-logo"><img src="/assets/icons/mir-logo.svg" alt=""></div>
                <div class="payment-logo">
                    <img src="/assets/icons/mastercard-logo.svg" alt="Логотип Mastercard">
                </div>
                <div class="payment-logo">
                    <img src="/assets/icons/visa-logo.svg" alt="Логотип Visa">
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- <a href="https://www.instagram.com/fndrs.co" target="_blank">
    <img src="/assets/icons/logo_Instagram.svg" alt="logo_Instagram">
</a> -->