<footer class="footer-border-line">
    <div class="footer-nav-bar">
        <!--
        <ul class="footer-list">
            <li class="footer-item">
                <p class="company-text">© 2024 FNDRS.CO</p>
            </li>
            <li class="footer-item email-form">e-mail form</li>
            <li class="footer-item ">
                <a href="https://www.instagram.com/fndrs.market/" target="_blank">
                    <img src="/assets/icons/logo_Instagram.svg" alt="logo_Instagram">
                </a>
            </li>
            <li class="footer-item"><a class="footer-link no-dec-link" href="/info">INFO</a></li>
            <li class="footer-item"><a class="footer-link no-dec-link" href="/policy">PRIVACY POLICY</a></li>
        </ul>
        -->
        <ul class="footer-list">
            <li class="footer-element">
                <ul class="mini-footer-list">
                    <li class="footer-element">
                        <p class="company-text">© 2024 FNDRS.CO</p>
                    </li>
                    <li class="footer-element">
                        <div><app-email-sub-form></app-email-sub-form></div>
                    </li>
                </ul>
            </li>
            <li class="footer-element">
                <a href="https://www.instagram.com/fndrs.co" target="_blank">
                    <img src="/assets/icons/logo_Instagram.svg" alt="logo_Instagram">
                </a>
            </li>
            <li class="footer-element">
                <ul class="mini-footer-list">
                    <li class="footer-element"><a class="footer-link no-dec-link left-border" href="/info"><span>INFO</span></a></li>
                    <li class="footer-element"><a class="footer-link no-dec-link left-border" href="/policy">PRIVACY POLICY</a></li>
                </ul>
            </li>
        </ul> 
        <!--
        <app-email-sub-form></app-email-sub-form>
        -->
    </div>
</footer>