<div class="contacts-page-container">
    <h2 class="main-heading-contacts">Реквизиты</h2>
    <div class="contacts-block-text">
        <ul class="list-contacts-global">
            <li class="element-contacts-global">
                <p class="text-contacts"><strong>Продавец</strong> – ИП Деминцев Денис Станиславович</p>
            </li>
            <li class="element-contacts-global">
                <p class="text-contacts">
                    <strong>ОГРНИП 323631200115774</strong>
                </p>
            </li>
            <li class="element-contacts-global">
                <p class="text-contacts">
                    <strong>ИНН 631311743969</strong>
                </p>
            </li>
        </ul>
    </div>
</div>