<div class="policy-page-container">
    <h2 class="main-heading">Политика в отношении обработки персональных данных</h2>
    <div class="policy-block-text">
        <ul class="list-policy-global">
            <li class="element-policy-global"><!--ПЕРЕДЕЛАТЬ СПИСОК НА ПУНКТЫ С ЦИФРАМИ-->
                <p class="text-policy"></p>
                <ul class="list-policy-mini">
                    <li class="element-policy-mini">
                        <p class="text-policy"></p>
                    </li>
                    <li class="element-policy-mini">
                        <p class="text-policy"></p>
                    </li>
                </ul>
            </li>
            <li class="element-policy-global">
                <p class="text-policy">
                    2. Основные понятия, используемые в Политике
                </p>
                <ul class="list-policy-mini">
                    <li class="element-policy-mini">
                        <p class="text-policy">
                            2.1. Автоматизированная обработка персональных данных — обработка 
                            персональных данных с помощью средств вычислительной техники.
                        </p>
                    </li>
                    <li class="element-policy-mini">
                        <p class="text-policy">
                            2.2. Блокирование персональных данных — временное прекращение 
                            обработки персональных данных (за исключением случаев, если 
                            обработка необходима для уточнения персональных данных).
                        </p>
                    </li>
                    <li class="element-policy-mini">
                        <p class="text-policy"></p>
                    </li>
                    <li class="element-policy-mini">
                        <p class="text-policy"></p>
                    </li>
                    <li class="element-policy-mini">
                        <p class="text-policy"></p>
                    </li>
                    <li class="element-policy-mini">
                        <p class="text-policy"></p>
                    </li>
                    <li class="element-policy-mini">
                        <p class="text-policy"></p>
                    </li>
                    <li class="element-policy-mini">
                        <p class="text-policy"></p>
                    </li>
                    <li class="element-policy-mini">
                        <p class="text-policy"></p>
                    </li>
                    <li class="element-policy-mini">
                        <p class="text-policy">
                            2.10. Пользователь — любой посетитель веб-сайта https://ifeshop.store/.
                        </p>
                    </li>
                    <li class="element-policy-mini">
                        <p class="text-policy">
                            2.11. Предоставление персональных данных — действия, направленные на раскрытие персональных 
                            данных определенному лицу или определенному кругу лиц.
                        </p>
                    </li>
                    <li class="element-policy-mini">
                        <p class="text-policy">
                            2.12. Распространение персональных данных — любые действия, направленные на раскрытие 
                            персональных данных неопределенному кругу лиц (передача персональных данных) или на 
                            ознакомление с персональными данными неограниченного круга лиц, в том числе 
                            обнародование персональных данных в средствах массовой информации, размещение 
                            в информационно-телекоммуникационных сетях или предоставление доступа к персональным 
                            данным каким-либо иным способом.
                        </p>
                    </li>
                    <li class="element-policy-mini">
                        <p class="text-policy">
                        </p>
                    </li>
                    <li class="element-policy-mini">
                        <p class="text-policy">
                        </p>
                    </li>
                </ul>
            </li>
            <li class="element-policy-global">
                <p class="text-policy">3. Основные права и обязанности Оператора</p>
                <ul class="list-policy-mini">
                    <li class="element-policy-mini">
                        <p class="text-policy">
                        </p>
                    </li>
                    <li class="element-policy-mini">
                        <p class="text-policy"></p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>