<div class="info-page-container">
    <h2 class="heading-info-page">INFO</h2>
    <ul class="list-links-info-page">
        <!--
        <li class="element-list-info-page">
            <app-default-link class="link-info-page" rLink="/offer" btnText="Договор оферты"></app-default-link>
        </li>
        <li class="element-list-info-page">
            <app-default-link class="link-info-page" rLink="/policy" btnText="Политика конфиденциальности"></app-default-link>
        </li>
        <li class="element-list-info-page">
            <app-default-link class="link-info-page" rLink="/contacts" btnText="Контакты"></app-default-link>
        </li>
        -->
        <li class="element-list-info-page">
            <ul class="m-li-info-page">
                <li class="tlt-m-li-el-info no-us-copy"><p>HELP</p></li>
                <li class="m-li-el-info">
                    <app-copy-text-func textToCopy="SUPPORT&#64;FNDRS.STORE" title="Скопировать"></app-copy-text-func>
                </li>
                <li class="m-li-el-info">
                    <app-copy-text-func textToCopy="@SUPPORTFNDRS" title="Скопировать"></app-copy-text-func>
                </li>
            </ul>
        </li>
        <li class="element-list-info-page">
            <ul class="m-li-info-page">
                <li class="tlt-m-li-el-info"><p class="no-us-copy">DELIVERY/REFUND</p></li>
                <li class="m-li-el-info"><app-default-link rLink="/delivery" btnText="DELIVERY"></app-default-link></li>
                <li class="m-li-el-info"><app-default-link rLink="/refund" btnText="REFUND"></app-default-link></li>
            </ul>
        </li>
        <li class="element-list-info-page no-us-copy">
            <ul class="m-li-info-page">
                <li class="tlt-m-li-el-info"><p>MORE</p></li>
                <li class="m-li-el-info">
                    <app-default-link rLink="/offer" btnText="COTRACT OFFER"></app-default-link>
                </li>
                <li class="m-li-el-info">
                    <app-default-link rLink="/policy" btnText="PRIVACY POLICY"></app-default-link>
                </li>
                <li class="m-li-el-info">
                    <app-default-link rLink="/contacts" btnText="CONTACTS"></app-default-link>
                </li>
            </ul>
        </li>
    </ul>
</div>