.entry-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
}

.entry-popup-content {
    width: 300px;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.entry-pop-img {
    display: block;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.entry-pop-head {
    text-transform: uppercase;
    font-family: 'Futura', sans-serif;
    font-weight: 300;
    font-size: 22px;
    font-style: normal;
}

.entry-pop-text {
    font-family: 'Futura', sans-serif;
    font-weight: 200;
    font-size: 18px;
}

.entry-pop-main-btn {
    margin-top: 10px;
}

.entry-pop-main-link {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
    width: 50px;
    height: 50px;
}

.no-dec-link {
    font-size: 0;
}

.entry-pop-main-link:hover {
    background-color: white;
    color: black;
}

.close-popup-btn {
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 100px;
    background: none;
    color: white;
    cursor: pointer;
}

.close-popup-btn:hover {
    text-shadow: #fff 1px 0 5px;
}

@media (max-width: 640px) {
    .close-popup-btn {
        font-size: 50px;
        right: 25px;
    }
}