.no-dec-link {
    text-decoration: none;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 77vh;
}

.footer-container {
    margin-top: auto;
}