.product-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

@media (min-width: 600px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
  
@media (min-width: 1050px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
  
@media (min-width: 1450px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}