<div class="offer-page-container">
    <h2 class="main-heading-offer">Договор оферты</h2>
    <div class="offer-block-text">
        <ul class="list-offer-global">
            <li class="element-offer-global">
                <p class="text-offer first-text-offer">
                    Заголовок списка
                </p>
                <ul class="list-offer-mini">
                    <li class="element-offer-mini">
                        <p class="text-offer">
                            1.1. <strong>Главное слово</strong> текст текст текст;
                        </p>
                    </li>
                    <li class="element-offer-mini">
                        <p class="text-offer">
                            1.2. <strong>Главное слово</strong> ща будет ссылочка <app-full-link linkText="https://fndrs.store"></app-full-link> текст текст текст;
                        </p>
                    </li>
                    <li class="element-offer-mini">
                        <p class="text-offer">
                            1.3 <strong>Опять главное слово</strong> и тут уже будет почта с <app-email-link emailLinkText="den.demintsev.04@gmail.com"></app-email-link>
                        </p>
                    </li>
                </ul>
                <p class="text-offer last-text-offer">
                    <strong>Все Возникающее споры стороны будут стараться решить путем переговоров, при недостижении соглашения, соответствующий спор подлежит разрешению в суде.</strong>
                </p>
            </li>
        </ul>
    </div>
</div>