:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.login-form {
    width: 340px;
}

.under-form-block {
    padding: 20px;
}

.link-black {
    color: black;
}