.no-dec-link {
    text-decoration: none;
    color: black;
}

.pd-20 {
    margin: 20px;
}

.no-us-copy {
    user-select: none;
}

body {
    margin: 0;
}

span, p, h1, h2 {
    font-family: 'Arial', Arial, sans-serif;
}