.no-dec-link {
    text-decoration: none;
    color: black;
}

.pd-20 {
    margin: 20px;
}

.no-us-copy {
    user-select: none;
}

body {
    margin: 0;
}

span, p, h1, h2 {
    // font-family: 'Arial', Arial, sans-serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.change-all-hover {
    transition: all 0.4s;
}