@import "fonts.scss";

:root {
    --light-gray: #F0F0F0;
    --smoke-gray: rgb(240, 240, 240);
    --line-gray: rgba(0, 0, 0, 0.1);
    --light-gray-text: rgba(0, 0, 0, 0.6);
    --red: rgb(255, 51, 51);
    -webkit-tap-highlight-color: transparent;
}

.no-dec-link {
    text-decoration: none;
    color: black;
}

.pd-20 {
    margin: 20px;
}

.no-us-copy {
    user-select: none;
}

body {
    margin: 0;

}

body::-webkit-scrollbar {
    display: none;
}

.h1 {
    text-transform: uppercase;
    margin: 0;
    text-align: left;
    line-height: 48px;
    letter-spacing: 0px;
    font-family: 'Onest', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
}

.h2 {
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Onest', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
}

.default-text {
    color: black;
    font-family: 'Futura', sans-serif;
    font-weight: 100;
    font-size: 18px;
}

.change-all-hover {
    transition: all 0.4s;
}

.message-main-div-error {
    margin: 30vh auto;
    border: 2px solid white;
    border-radius: 15px;
    padding: 20px;
    padding-top: 18px;
    width: fit-content;
    font-size: larger;
    text-transform: lowercase;
    font-family: 'Fututa', sans-serif;
    font-weight: 200;
    text-align: center;
    background-color: black;
    color: white;
}

.message-main-div-error:hover {
    background-color: white;
    border-color: black;
    color: black;
}

.center-container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

.shop-login-label {
    display: block;
    margin-top: 14px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    width: 100%;
    font-family: 'JetBrains Mono', sans-serif;
    text-transform: uppercase;
}

.shop-login-input {
    box-sizing: border-box;
    margin-top: 8px;
    display: block;
    border: 1px solid #AE7AFF;
    border-radius: 4px;
    padding: 12px 20px;
    background-color: black;
    font-weight: 400;
    font-style: 14px;
    line-height: 21px;
    width: 100%;
    color: white;
}

.shop-login-input:focus-visible::placeholder {
    color: whitesmoke;
}

.shop-login-input:focus-visible {
    outline-color: white;
}

.shop-login-button {
    margin-top: 36px;
    width: 100%;
    padding: 10px 20px;
    font-family: 'JetBrains Mono', sans-serif; 
    background-color: white;
    border-radius: 5px;
    color: black;
    line-height: 21px;
    cursor: pointer;
    border: 1px solid black;
}

.shop-login-button:hover {
    background-color: black;
    color: white;
}

.password-input {
    position: relative;
}

.password-eye-btn {
    position: absolute;
    background: none;
    border: none;
    color: white;
    top: 52%;
    font-size: 1px;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 4px;
}

.password-eye-btn.active {
    color: #AE7AFF;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 10px; /* Отступ сверху для кнопки */
}

.switch .switch-input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .4s;
}

.switch-input:checked + .slider {
    background-color: black;
}

.switch-input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.switch-input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round-switch {
    border-radius: 34px;
}

.slider.round-switch:before {
    border-radius: 50%;
}