.link-nav-btn {
    display: flex;
    align-items: center;
    padding: 5px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    background-color: #EEEEEE;
    border-radius: 7px;
    user-select: none;;
}

.icon-nav-btn {
    color: rgb(255, 255, 255);
}

.text-nav-btn {
    font-size: 16px;
}